extends layout
block content
	script(type="text/javascript", src="/javascripts/index.js")
	script(type="text/javascript", src="/javascripts/Chart.js")
	div(id='welcome')
			center
				input(type='text',id='keyword', placeholder="Enter keywords") 
				input(type='text',id='datepicker', placeholder="Choose your date")
				div(class="input-append")
					button(id='submit', class="btn") Submit 
	center
		div(id="bar")
			h3 Loading Analysis
			img(src="/images/ajax-loader.gif")
	div(id="graph", align="center")
		h3 Tweet Sentiment Analysis
		canvas(id="tweetChart", height="400", width="800")
		center
			span(class="badge badge-important") Negative Attitude
			span(class="badge badge-info") Positive Attitude
		h4 The graph above shows twitter sentiment towards the given keywords.