extends layout
block content
	script(type="text/javascript", src="/javascripts/index.js")
	script(type="text/javascript", src="/javascripts/Chart.js")
	div(id='welcome')
			center
				input(type='text',id='keyword', placeholder="Enter keywords") 
				input(type='text',id='datepicker', placeholder="Choose your date")
				div(class="input-append")
					button(id='submit', class="btn") Submit 
	center
		div(id="bar")
			img(src="/images/ajax-loader.gif")
	div(id="graph", align="center")
		canvas(id="tweetChart", height="400", width="800")