extends layout

block content
	script(type="text/javascript", src="/javascripts/index.js")
	script(type="text/javascript", src="/javascripts/Chart.js")
	div(id='welcome')
			center
				input(type='text',id='keyword') Type Keyword
				input(type='text',id='datepicker')
				button(id='submit') Submit 
		div(id="loading")
	div(id="graph", align="center")
		h1(style="color:#00007F") Twitter Sentiment Results
		canvas(id="tweetChart", height="400", width="800")