doctype 5
html
	head
		title= title
		//- script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
		script(src='http://code.jquery.com/jquery.js')
		script(src="http://code.jquery.com/ui/1.10.2/jquery-ui.js")
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css")
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		div(class='logos')
			h4 Powered by:
			img(src="/images/repu.png")
			img(src="/images/twit.png")
	block content

