
input{
	margin-right: 15px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart {
	height: 400px
	width: 800px
}

#bar {
	margin-top: 100px;
}

.logos{
	position: fixed;
	top: 5px;
	left: 10px;
}

.logos img{ 
	height: 50px;
	float: left;
}

.source{
	position: fixed;
	top: 5px;
	right: 15px;
}